.bg-gradient {
    background-image: linear-gradient(to right, #ff003c, #000000);
    animation: pulse 2s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      background-size: 100% auto;
    }
    100% {
      background-size: 150% auto;
    }
  }
  
  html, body {
    height: 100%;
    margin: 0;
}

.footer {
    position: fixed;
    background-image: url('./media/drones.gif');
    background-size: cover;
  }

  
  
  